.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  padding-top: 95px;
  padding-left: 50px;
  padding-bottom: 100px;
}
.header__menu {
  display: flex;
  list-style: circle;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: underline;
}
.header__logo {
  display: block;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.adress {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.header__address {
  max-width: 240px;
  justify-self: end;
}
.underline-position {
  text-underline-position: under;
}
.cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.5);
  inset: 0;
  z-index: 0;
}
.cover__title{
  font-weight: 700;
  position: relative;
  color: #ffffff;
  font-size: 100px;
  line-height: 135px;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
  padding-top: 155px;
}
.aligned-text {
  padding-left: 50px;
}
.aligned-text_center {
  padding-left: 380.5px;
}
.aligned-text_right {
  padding-left: 663px;
}
.cover__description{
  display: flex;
  z-index: 1;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 42px;
  align-items: center;
  gap: 107px;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color:#ffffff;
  z-index: 1;
  word-spacing: 18px;
}
.bet-button{
font-weight: 500;
font-size: 22px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
background-color: transparent;
color: #ffffff;
z-index: 1;
padding: 11.5px 31.5px;
border-color: #ffffff;
border-style: solid;
border-width: 1px;
}
.lots__card-list{
  display:flex;
  list-style: none;
  justify-content: space-evenly;
}
.lots__card-list-item{
  width: 334px;
  min-height: 596px;
}
.card-link, .card{
height: 100%;
}
.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}