.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}
.menu-head{
  display: flex;
  list-style: circle;
  gap: 33px;
  font-weight: 400;
  font-size: 18px;
}
.single-li{
  list-style: none;
}
.logo-black{
    display: block;
}
.logo-black-img{
    width: 148px;
    height: 105px;
}

