.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  padding-top: 92px;
  padding-left: 50px;
  padding-bottom: 100px;
}
.header__menu-list {
  display: flex;
  list-style: circle;
  gap: 32px;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active{
  text-decoration: none;
}
.header__logo {
  display: block;
  margin-right: 45px;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}
.header__address {
  max-width: 240px;
  justify-self: end;
  margin-right: 50px;
}
.underline-position {
  text-underline-position: under;
}
.cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.5);
  inset: 0;
  z-index: 0;
}
.cover__title {
  font-weight: 700;
  position: relative;
  color: #ffffff;
  font-size: 100px;
  line-height: 135px;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
  padding-top: 147px;
}
.aligned-text {
  padding-left: 50px;
}
.aligned-text_center {
  padding-left: 380.5px;
}
.aligned-text_right {
  padding-left: 663px;
}
.cover__description {
  display: flex;
  z-index: 1;
  padding-left: 53px;
  padding-top: 97px;
  padding-bottom: 42px;
  align-items: center;
  gap: 107px;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  word-spacing: 18px;
}
.bet-button {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  z-index: 1;
  padding: 11.5px 31.5px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}
.lots {
  padding-top: 189px;
}
.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 64px;
  padding-bottom: 5px;
}
.lots__card-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  margin-top: 25px;
}
.card-link,
.card {
  height: 100%;
}
.card-link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}
.card__title,
.card__text {
  z-index: 1;
}
.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffffff;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}
.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
}
.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  display: block;
  padding-top: 32px;
  padding-left: 64px;
  padding-bottom: 120px;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-left: 24px;
  column-gap: 25px;
}
.about__logo {
  background-color: black;
  height: 240px;
  width: 240px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 35px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 141px;
  padding-bottom: 104px;
}
.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 27px;
}
.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-top: 180px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 82px;
}
.footer__address {
  max-width: 240px;
  justify-self: start;
}
.footer__menu-list{
font-weight: 400;
font-size: 18px;
line-height: 100%;
text-align: center;
display: flex;
flex-direction: column;
gap: 5px;
}
.footer__menu-list-item {
  list-style: none;
  justify-self: center;
  text-underline-position: auto;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list-item {
  list-style: none;
}
.footer__social-list {
  display: flex;
  gap: 48px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
